@import "tailwindcss";
@plugin "daisyui";
.active {
  border-bottom: 2px solid white;
}
html {
  scroll-behavior: smooth;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/ia_banner.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* makes text readable */
  text-align: center;
}

/* Make the elfsight root responsive */
.elfsight-app-8e59e4fe-0ff0-435e-8502-11d79a7f324c,
.elfsight-app-8e59e4fe-0ff0-435e-8502-11d79a7f324c * {
  max-width: 100% !important;
}

/* Ensure the widget can shrink inside flex/grid */
.elfsight-app-8e59e4fe-0ff0-435e-8502-11d79a7f324c {
  width: 100% !important;
}
